:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --primary-black-color: #000000;
    --dark-bg-color: #2f303a;
    --light-bg-color: #f5f4fa;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}

.list {
    list-style: none;
}

/* Сховати текст */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/*---------Логотип---------------------*/
.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
}

.header-logo .right-part {
    color: var(--primary-black-color);
}

/*--------Головне меню-----------------*/
.site-link {
    font-weight: 500;
    font-size: 14px;        
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-decoration: none;
}

.site-link:hover,
.site-link:focus {
    color: var(--accent-color);
}

.site-link.current {
    color: var(--accent-color);
}

/*--------Контакти у шапці праворуч----------*/
.contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}

/*--------Заголовок секції-----------------*/
.section-title {
    color: var(--title-text-color);
}

/*-----------------Герой-----------------*/
.hero {
    background-color: var(--dark-bg-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
}

.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;   
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer;
}

/*---------Особливості----------------*/
.feature-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.feature-descr {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/*---------Чим ми займаємося----------------*/
.section-work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

/*---------Наша команда----------------*/
.section-command {
    background-color: var(--light-bg-color);
}

.section-command-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.member-item {
    background-color: var(--primary-white-color);
}

.member-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.member-descr {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

/*-------Портфолио-----------*/
.portfolio-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    background-color: var(--primary-white-color);
    cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus,
.portfolio-btn.current {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.portfolio-descr {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
/*--------Подвал------------*/
.footer {
    background: var(--dark-bg-color);
}

.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
}

.footer-logo .right-part {
    color: var(--primary-white-color);
}

.address-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;  
    color: var(--primary-white-color);
    text-decoration: none;
}

.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}

